.logo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-self: left;
  font-weight: 900;
  padding-inline: 20px;
}
