body {
  margin: 0px;
  text-align: center;
}
* > body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: grid;
  grid-template-columns: minmax(400px, auto) 1fr;
  margin: 25px;
}
.canvas-container {
  width: 100%;
  height: minmax(400px, 50vh);
}

canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.console {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
