header {
  background-color: var(--white);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  display: flex;
  border-radius: 50px;
  margin: 10px;
}

header a {
  padding: 20px;
  font-size: 1.5rem;
}

header a:link {
  text-decoration: none;
}

header a:visited {
  color: blue;
}
