header {
  display: flex;
  background-color: var(--white);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 90px;
  border-radius: 50px;
  margin: 10px;
}

nav a {
  padding: 20px;
  font-size: 1.5rem;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  color: var(--clr-drak);
}

nav ul {
  list-style: none;
  display: flex;
}

#close-sidebar-button,
#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-drak);
  font-size: 2em;
}

#open-sidebar-button {
  margin-left: auto;
  margin-right: 30px;
}

#close-sidebar-button {
  padding-left: 20px;
}
