@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}
.logo {
  font-family: 'Rocher';
  justify-self: left;
  font-size: 2em;
  font-weight: 500;
  width: 250px;
  padding-inline: 20px;
  font-palette: --Purples;
}
