.meme-editor {
  margin: 25px;
  border: solid var(--clr-drak);
  border-radius: var(--borderR);
  padding: 10px;
  gap: 10px;
  background-color: var(--white);
}

.console {
  max-height: 1fr;
}
.console > * {
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

#user-text {
  line-height: 2.5em;
  font-size: 1.5em;
  width: 100%;
  max-width: 500px;
  /* background: palegreen; */
  /* border: 0; */
  border-radius: var(--borderR);
  border: solid var(--clr-drak);
  text-align: center;
}

#text-clr {
  font-size: 0;
  width: 0;
  height: 0;
  border: 0;
}

.txtChoice {
  height: 35px;
  width: 35px;
  font-size: 30px;
  padding: 2px;
  border: 0;
  background-color: var(--clr-primary);
}

.txtChoice:not([disabled]):hover {
  color: var(--white);
}

.shares a:link {
  text-decoration: none;
  text-transform: uppercase;
}
.shares a:visited {
  color: var(--clr-drak1);
}
.shares a:hover {
  color: var(--white);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.link {
  width: auto;
  background-color: var(--clr-primary);
  padding: 10px;
}
