/*MOBILE*/
@media (max-width: 600px) {
  main {
    display: block;
  }

  .console {
    flex-direction: column;
    margin-block: 25px;
    gap: 10px;
  }
  div.console > * {
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  main {
    display: block;
  }
  .console {
    flex-direction: column;
    margin-block: 25px;
    gap: 10px;
  }
  div.console > * {
    flex-direction: row;
  }
}

/*DESKTOP*/
@media (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: minmax(400px, auto) 1fr;
  }

  header {
    gap: 200px;
  }

  .console {
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }
}
