:root {
  --clr-base: #c1aff7;
  --clr-base1: #c2b0f7c8;

  --clr-primary: #8688f5;
  --clr-primary-trnasp: #8688f5ad;
  --clr-primary-2: #bfc0f9;
  --clr-drak: #6a4884;
  --clr-drak1: #55386b;
  --white: #ffffff;

  --borderR: 30px;
}
